<section class="currency-details">
    <div class="details-nav">
        <a routerLink='/home/all_currencies' >
            <img src="../../../assets/svg/back.svg" alt="back">
        </a>

        <div class="nav-logo">
            <div>SPRINT<span>CRYPTO</span></div>
        </div>
    </div>
    <div class="currency-name">
        <p> {{items?.name}}</p>
        <p> {{items?.symbol}}</p>
    </div>
    <div class="currency-inforamtion">
        <p> <span>$</span>{{items?.volume_24h_mil}}</p>
        <market-change [stockChange]="items?.change_24h"></market-change>


    </div>
    <div (click)="setIsTracked()" class="tracked-btn">
         <p *ngIf="!this.isTracked">Add to tracked currencies list</p>
        <p class="is-tracked" *ngIf="this.isTracked">Remove From tracked currencies list</p>
    </div>
    <div class="history-btns">
        <div [ngClass]="activeBtn==='day' ? 'active-btn':''" (click)="setActiveBtn('day')" class="day-btn">1 Day</div>
        <div [ngClass]="activeBtn==='month' ? 'active-btn':''" (click)="setActiveBtn('month')" class="month-btn">1 Month</div>
        <div [ngClass]="activeBtn==='year' ? 'active-btn':''" (click)="setActiveBtn('year')" class="year-btn">1 Year</div>
    </div> 

    <chart *ngIf="this.chartData" [chartData]="chartData"></chart>
</section>