<section *ngIf="item" class="currency-preview">
    <div class="left-preview">
            <a [routerLink]="['/details/'+item.currency_id]" [state]={item:item}>
            <img src={{item?.image_url}} alt="icon">
            <div class="currency-name">
                <p>{{item?.name}}</p>
                <p>{{item?.symbol}}</p>
            </div>
        </a>
        </div>
        <div class="right-preview">
            <p> <span>$</span>{{item?.volume_24h_mil}}</p>
            <market-change [stockChange]="item?.change_24h"></market-change>
            
        </div>
</section>