@import "../../../assets/style/setup/mixins";
@import "../../../assets/style/setup/vars";

.currency-preview{
    font-family: Roboto;

    background-color: $clr6;
    display: flex;
    justify-content: space-between;
    margin: 0 26px ;
    height: 84px;
    padding: 27px 17px;
    border-radius: 20px;
    margin-bottom: 16px;

    &:first-child{
        margin-top: 16px;
    }

    .left-preview{
        display: flex;
        align-items: center;

        p{
            font-size:14px ;
            &:last-child{
                font-size: 10px;
            }
        }
        img{
            width: 32px;
            height: 32px;
            margin-right: 11px;
            // margin-left: 17px;
        }
        
    }
    
    .right-preview{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    
        .market p{
           font-size: 10px;
       }
    }
}