@import "../../../assets/style/setup/mixins";
@import "../../../assets/style/setup/vars";

.home-page {
    .home-title {

        min-width: 521px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 185px;
        z-index: -3;
        margin-right: -300px;

        font-size: 36px;
        color: white;
        div {
            display: flex;
            font-family: Verala-Round;
            color: #c0c0c0;
            span {
                color: #fcfcfc;
            }
        }
        p {
            font-size: 28px;
            font-family: Roboto;
        }
    }
}

.desktop-home {
    display: flex;
    justify-content: center;



    img {
        height: 641px;
        // width: 1213px;
        width: 1013px;
        margin-top: 110px;
    }
    @include for-mobile-layout {
        display: none;
    }
}

.mobile-home {
    display: none;
    height: 100vh;
    
    @include for-mobile-layout {
        display: flex;
        flex-direction: column;
    }
}
